body {
    font-family: Arial, sans-serif;
    background-image: url('templets/background.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    margin: 0;
    padding: 0; /* Remove padding from body */
    height: 100vh; /* Full height of the viewport */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: rgba(255, 255, 255, 0.822); /* Change text color for better visibility */
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent white background for readability */
    opacity: 0.8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: rgb(177, 127, 0);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}